p {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h1#artista {
    background: cadetblue;
    font-size: 7em;
    margin: auto;
}

div#fondo {
    text-align: center;
    background-image: url("../images/fondo\ bjork.jpg");
}

div#fondobolitas {
    background-image: url("../images/fondo\ bolitas\ bjork.jpg");
}

div#gudsmundotir {
    background-image: url("../images/Gudsmundotir.jpg.crdownload");

}

div#discografia h2,
div#discografia img {
    margin-left: 130px;
}